<div class="user-card">
    
      <div class="user-header">
        <i class="fas fa-user-circle me-2 fs-4"></i>
        <h5 class="mb-0">Informations personnelles</h5>
      </div>
      <div class="card-body">
  
        <div class="row mb-3 align-items-center">
          <div class="col-md-4 fw-bold">Nom complet :</div>
          <div class="col-md-8 text-muted">{{userName}}</div>
        </div>
  
        <div class="row mb-3 align-items-center">
          <div class="col-md-4 fw-bold">Email :</div>
          <div class="col-md-8 text-muted">{{userEmail}}</div>
        </div>
  
        
  
        <div class="row mb-3 align-items-center">
          <div class="col-md-4 fw-bold">Rôle :</div>
          <div class="col-md-8 text-muted">
            
              {{userRole}}
            
          </div>
        </div>
  
      </div>
      </div>
      <div class="user-card mt-4">
        <div class="user-header ">
          <i class="fas fa-building me-2 fs-4"></i>
          <h5 class="mb-0">Informations CNI</h5>
        </div>
        <div class="card-body">
      
          <div class="row mb-3 align-items-center">
            <div class="col-md-4 fw-bold">Organisme :</div>
            <div class="col-md-8 text-muted">Centre National de l’Informatique</div>
          </div>
      
          <div class="row mb-3 align-items-center">
            <div class="col-md-4 fw-bold">Responsable :</div>
            <div class="col-md-8 text-muted">Mme Sonia Trabelsi</div>
          </div>
      
          <div class="row mb-3 align-items-center">
            <div class="col-md-4 fw-bold">Email CNI :</div>
            <div class="col-md-8 text-muted">contact&#64;cni.tn</div>
          </div>
      
        </div>
      </div>  