<div class="container">
  <div class="button-group">
    <button routerLink="/app/clients" class="btn btn-secondary back-button">
      <i class="bi bi-arrow-left"></i> Retour
    </button>
  </div>

  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>

  <h2>Modifier le Client</h2>

  <form [formGroup]="updateClientForm" (ngSubmit)="onUpdate()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" id="code" class="form-control" formControlName="code" readonly />
          <div *ngIf="updateClientForm.controls['code'].invalid && updateClientForm.controls['code'].touched" class="text-danger">
            Code requis.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="intitule">Intitulé</label>
          <input type="text" id="intitule" class="form-control" formControlName="intitule" />
          <div *ngIf="updateClientForm.controls['intitule'].invalid && updateClientForm.controls['intitule'].touched" class="text-danger">
            Intitulé requis.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="telephone">Téléphone</label>
          <input type="text" id="telephone" class="form-control" formControlName="telephone" />
          <div *ngIf="updateClientForm.controls['telephone'].invalid && updateClientForm.controls['telephone'].touched" class="text-danger">
            <span *ngIf="updateClientForm.controls['telephone'].errors?.['required']">Téléphone requis.</span>
            <span *ngIf="updateClientForm.controls['telephone'].errors?.['pattern']">Téléphone doit être 8 chiffres.</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" />
          <div *ngIf="updateClientForm.controls['email'].invalid && updateClientForm.controls['email'].touched" class="text-danger">
            <span *ngIf="updateClientForm.controls['email'].errors?.['required']">Email requis.</span>
            <span *ngIf="updateClientForm.controls['email'].errors?.['email']">Email non valide.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text" id="adresse" class="form-control" formControlName="adresse" />
          <div *ngIf="updateClientForm.controls['adresse'].invalid && updateClientForm.controls['adresse'].touched" class="text-danger">
            Adresse requise.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="gouvernorat">Gouvernorat</label>
          <select id="gouvernorat" class="form-control custom-select" formControlName="gouvernorat">
            <option value="" disabled>-- Choisissez gouvernorat --</option>
            <option *ngFor="let gov of gouvernorats" [value]="gov">{{ gov }}</option>
          </select>
          <div *ngIf="updateClientForm.controls['gouvernorat'].invalid && updateClientForm.controls['gouvernorat'].touched" class="text-danger">
            Gouvernorat requis.
          </div>
        </div>
      </div>
    </div>

    <div class="down">
      <button type="submit" class="btn btn-success" [disabled]="updateClientForm.invalid">Modifier</button>
      <button type="reset" class="btn btn-danger">Réinitialiser</button>
    </div>
  </form>
</div>
